.lists-container {
  width: 88vw;
  box-shadow: 0px 4px 16px 0px #ececec;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .lists-container {
    width: 94vw;
  }
}

.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 12px 15px;
}

@media screen and (min-width: 768px) {
  .list-container {
    flex-direction: row;
    align-items: center;
    padding: 12px 4px;
  }
}

.time-accessed {
  color: #475569;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  margin: 10px 0px;
}

@media screen and (min-width: 768px) {
  .time-accessed {
    margin: 0px 12px;
    width: 75px;
  }
}

.history-details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .history-details-container {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 0px;
  }
}

.domain-details-container {
  display: flex;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .domain-details-container {
    align-items: center;
  }
}

.domain-logo {
  height: 26px;
  margin: 2px 5px;
}

.domain-url-text {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .domain-url-text {
    flex-direction: row;
    align-items: center;
  }
}

.delete-btn {
  height: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.delete-icon {
  height: 20px;
}

.history-details {
  margin: 0px;
  padding-left: 8px;
  width: 55vw;
  color: #475569;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .history-details {
    width: 100%;
  }
}

.domain-url {
  color: #64748b;
  font-size: 14px;
  font-family: 'Roboto';
  margin: 3px 0px;
  padding-left: 8px;
}
